body
{
    font: 15pt arial;
    text-align: center;
}
section
{
    background-color: lightgray;
    padding: 20px;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}
#mPh
{
    margin-left: 20px;
    margin-bottom: 20px;
}
input[type = button]
{
    margin-top: 20px;
}
#horas
{
    margin-bottom: 10px;
}
#tempo
{
    margin-bottom: 10px;
}